body
	{
	background-color:#C0C0C0;
	opacity:0.9;
	}
h1
	{
	color:#E0E0E0;
	text-align:center;
	font-family:"Times New Roman";
	font-size:22px;
	}
p
	{
	font-family:"Times New Roman";
	font-size:20px;
	}